<!-- developing -->
<!DOCTYPE html>
<html>
<head>
    <title>Conceitos Básicos de IA</title>
</head>
<body>
    <h1>Comparison result</h1>
    <ul>
        <li>(...) developing</li>
    </ul>

    <h2>Answers - TEST 1:</h2>
    <!-- developing -->
    <p><strong>Answer question 1:</strong> {{ aa }}</p>
    <p><strong>Answer question 2:</strong> {{ AQ2 }}</p>


    <h2>Answers - TEST 2:</h2>
    <p><strong>Answer question 3:</strong> {{ AQ3 }}</p>
    <p><strong>Answer question 4:</strong> {{ AQ4 }}</p>

    <a href="/">Home page</a>
</body>
</html>