<!-- OK-->

<!DOCTYPE html>
<html>
<head>
    <title>Conceitos Básicos de IA</title>
</head>
    <body>
        <h1>Basic Concepts of Artificial Intelligence</h1>
        <p>AI stands for Artificial Intelligence, a field of computer science dedicated to creating machines capable of performing tasks that would normally require human intelligence.</p>
        <p>There are several subgroups of AI, such as:</p>
        <ul>
            <li>Machine Learning</li>
            <li>Artificial Neural Networks</li>
            <li>Natural Language Processing (NLP)</li>
            <li>Computer Vision</li>
        </ul>
        <p>AI has applications in various areas, from virtual assistants to autonomous cars.</p>

        <a href="/">Back to the home page</a>

        <!-- Formulário com botão para redirecionar para a página test_2 -->
        <form action="{{ url_for('test_2', AQ1=AQ1, AQ2=AQ2) }}" method="get">
            <button type="submit">Ir para Test 2</button>
        </form>
    </body>
    </html>