<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Flask</title>
</head>
<body>
    <h1>Person and Phone Number</h1>

    <!-- Formulário para inserir o nome e o número de telefone -->
    <form method="POST">
        <input type="text" name="Name" placeholder="Name and last name" required>
        <input type="text" name="Phone Number" placeholder="Phone Number" required>
        <button type="submit">Send</button>


</body>
</html>