<!-- developing, but running -->
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the AI Course for Beginners</h1>
    <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <label for="name">Name:</label><br>
        {{ form.name(id="name", size=32) }}<br><br>

        <label for="phone_number">Phone Number:</label><br>
        {{ form.phone_number(id="phone_number", size=32) }}<br><br>

        {{ form.submit() }}

    </form>
</body>
</html>