<!-- developing, but running -->
<!DOCTYPE html>
<html>
<head>
    <title>Teste de Conhecimento</title>
</head>
<body>
    <h1>Knowledge TEST 1</h1>
    <form method="POST" action="/test_1">
        <label for="AQ1">What it's IA?</label><br>
        <textarea id="AQ1" name="AQ1" rows="4" cols="50" required></textarea><br><br>

        <label for="AQ2">Describe the subtopics of IA?</label><br>
        <textarea id="AQ2" name="AQ2" rows="4" cols="50" required></textarea><br><br>

        <input type="submit" value="Go to course">
        <a href="/">Home page</a>

    </form>

</body>
</html>